* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("images/mountains.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 50px 0 10px;
    font-size: 4rem;
    color: white;
}

input {
    width: 70%;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 25px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

#add-btn {
    width: 75px;
    height: 40px;
    border: 1px solid darkcyan;
    background-color: darkcyan;
    fill: white;
    border-radius: 20px;
    position: absolute;
    right: 15%;
}

ul {
    margin-top: 25px;
}

li {
    color: white;
    padding: 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.li-btn {
    border: none;
    background-color: transparent;
}

.li-text {
    padding-top: 20px;
}

#unchecked-box,
#checked-box,
#edit,
#trash {
    fill: white;
    position: absolute;
}

#unchecked-box {
    left: 8%;
}

#edit {
    right: 8%;
}

#trash {
    right: 3%;
}

@media (min-width: 768px) {
    input {
        width: 45%;
    }

    #add-btn {
        right: 27.5%
    }

    #unchecked-box {
        left: 30%;
    }
    
    #edit {
        right: 32%;
    }
    
    #trash {
        right: 30%;
    }
}